.layout {
    width: 44.125rem;
    height: 100vh;
    padding: 6.3125rem 2.5rem 7.0625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputContainer {
    width: 43.125rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.addBtn {
    width: 3.5rem;
    height: 3.5rem;
}

.msgBtn {
    width: 3.5rem;
    height: 3.5rem;
}