.layout {
    width: 44.125rem;
    height: 100vh;
    padding: 6.3125rem 2.5rem 7.0625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}