.cancelBtn {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
}

.contentContainer {
    width: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.bookInfoContainer {
    width: 30rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.bookImg {
    width: 10rem;
    height: 15rem;
}

.bookImg > img {
    width: 100%;
    height: 100%;
    border-radius: 1.5625rem;
}

.bookInfoWrapper {
    width: 18rem;
    min-height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.groupLimitContainer {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dueDateWrapper {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.chatRoomInfoContainer {
    width: 100%;
}

.secretContainer {
    width: 100%;
    height: 5rem;
    background-color: #FFFFFF;
    border-radius: 1.5625rem;
    display: flex;
    align-items: center;
}

.enrollBtn {
    width: 15rem;
    height: 5rem;
}