.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.bookInfoContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2.7rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

.bookCover {
    width: 16rem;
    height: 22rem;
    background-color: #f0f0f0;
}

.bookDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    flex: 1;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.sectionHeader {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.sectionTitle {
    font-size: 2.2rem;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 1rem; 
}

.sectionLine {
    flex-grow: 1; 
    border: none;
    height: 2px;
    background-color: #4682B4;
    margin-right: 2rem;
}

.descriptionContainer {
    width: 90%;
    max-width: 40rem;
    text-align: left;
    margin-bottom: 3rem;
}


/* .moreInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 40rem;
    margin-top: 10rem;
} */

/* 수정 필요*/
.moreInfoContainer {  
    position: absolute;  
    bottom: 14rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 74%;  
    background-color: white; 
    padding: 1.5rem 2rem;
    text-align: center;
}
