.menuListContainer {
    width: 43rem;
    height: 25rem;
}

.menuBtn {
    width: 100%;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}