.loginContainer {
    width: 49.125rem;
    height: 106.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15rem 3.0625rem 9.9375rem;
    background: url("../../assets/background/bg_login.png") no-repeat center/cover;
}

.logoWrapper {
    width: 16rem;
    height: 7.5rem;
    margin: 0 13.5rem 24.5rem;
}

.logoImage {
    width: 100%;
    height: 100%;
}