.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 26rem;
    margin: 3rem auto;
    padding: 2rem 1rem;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
    width: 39rem;
    margin-top: 19rem;
    margin-left: 2rem;
}

.logo {
    width: 13rem;
    height: auto;
}

.welcomeText {
    font-size: 1.78rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #333;
    text-align: left;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10rem; 
}


.inputField {
    width: 36.5rem;
    padding: 2.1rem;
    margin-bottom: 3.6rem;
    font-size: 2rem;
    color:#343434;
    border: none;
    border-radius: 1.5rem;
    background-color: #E8F1F6;
    outline: none;
    text-align: left;
}


.errorText {
    color: #739CD4;
    font-size: 1.2rem;
    text-align: right;
    width: 100%;
    max-width: 36.5rem;
    margin-top: -2.6rem;
    margin-bottom: 2rem;
    padding-left: 13.5rem;
}


.nextButton {
    width: 41rem;
    padding: 1.5rem;
    background-color: #BDE5F1;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
}

.nextButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.anotherLoginText {
    margin-top: 7rem;
    font-size: 1.5rem;
    color: #777;
}


.kakaoLogin {
    margin-top: 0.8rem;
    width: 25rem;
    cursor: pointer;
    border-radius: 10px;
}
