.ForumContainer {
    width: 100%;
    height: 80.875rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.8125rem;
}

.TabContainer {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.ForumMakeBtn {
    width: 13rem;
    height: 4rem;
}